{% extends 'base_login_register.html.twig' %}
{% block title %}Register{% endblock %}

{% block h1 %}Sign in to BookBinder{% endblock %}

{% block main_footer %}
        <main>
            <section>
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}
                {{ form_start(registrationForm) }}
{#                <form action="/action_page.php">#}

                        {{ form_row(registrationForm.firstName, { 'label': 'Firstname', 'attr': {'placeholder': 'Enter Firstname', 'required': true, 'id': 'firstname'} }) }}

                        {{ form_row(registrationForm.lastName, { 'label': 'Lastname', 'attr': {'placeholder': 'Enter Lastname', 'required': true, 'id': 'lastname'} }) }}

{#                        {{ form_row(registrationForm.email, { 'label': 'Email', 'attr': {'placeholder': 'Enter Email', 'required': true, 'id': 'email'} }) }}#}
                        {{ form_row(registrationForm.email, { 'label': 'Email', 'attr': {'placeholder': 'Enter Email', 'required': true, 'id': 'username','name': '_username'} }) }}

                        {{ form_row(registrationForm.address, { 'label': 'Address', 'attr': {'placeholder': 'Enter Address', 'required': true, 'id': 'address'} }) }}
                        <br><br>
                        {{ form_row(registrationForm.birthday, { 'label': 'Birthday:', 'attr': {'required': true, 'id': 'birthday'} }) }}
                        {#added the name property of 'password'#}
                        {{ form_row(registrationForm.plainPassword, { 'label': 'Password', 'attr': {'placeholder': 'Enter Password', 'required': true, 'id': 'password','name': '_password'} }) }}
                        {{ form_row(registrationForm.agreeTerms) }}


                        <button type="submit" class="registration">Register</button>

                {{ form_end(registrationForm) }}
            </section>
        </main>
    <br><br>
    <footer>
        <p>Already have an account? <a href="{{ path('app_login') }}"><b>Sign in</b></a>.</p>
    </footer>
{% endblock %}