{% extends 'home/index.html.twig' %}

{% block title %}Meetup{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/meetup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/meetup.js') }}"></script>
{% endblock %}

{% block main %}

    <h1>Your Meetups</h1>

    <div class="tab">
        <button class="tablinks" onclick="openMeetups(event, 'UpcomingMeetups')" id="defaultOpen">Upcoming meetups</button>
        <button class="tablinks" onclick="openMeetups(event, 'PastMeetups')">Past meetups</button>
        <button class="tablinks" onclick="openMeetups(event, 'PendingRequests')">Pending requests</button>
    </div>

    <div id="UpcomingMeetups" class="tabcontent">
        <a href="">
            <button class="newMeetupButton">Create meetup</button>
        </a>

        {% if meetups %}
            {% for meetup in meetups %}
                {% if meetup.state == 0 %}
                    <div class="profile">
                        <img id="profile_picture" src="{{ meetup.person2.profilepicFile }}" alt="Profile picture">
                        <div class="person">
                            <h2>{{ meetup.person2.firstName }}</h2>
                            <a href="#library page" class="Library">Location: {{ meetup.library.name }}</a><br><br>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a><br>
                            <button type="button" class="cancel"> Cancel Request</button>
                        </div>
                        <div class="date">
                            <p><b>{{ meetup.date|date('F j, Y') }} at {{ meetup.time|date('g:ia') }}</b></p>
                        </div>
                    </div>
                {% else %}
                    <p>No meetups yet. Go schedule one!</p>
                {% endif %}

            {% endfor %}
        {% else %}
            <p>No meetups yet. Go schedule one!</p>
        {% endif %}

    </div>

    <div id="PastMeetups" class="tabcontent">
        <a href="">
            <button class="newMeetupButton">Create meetup</button>
        </a>

        {% if meetups %}
            {% for meetup in meetups %}
                {% if meetup.state == 1 %}
                    <div class="profile">
                        <img id="profile_picture" src="{{ asset('images/Profile.png') }}" alt="Profile picture">
                        <div class="person">
                            <h2>{{ meetup.person1.firstName }}</h2>
                            <a href="#library page" class="Library">Location: {{ meetup.library.name }}</a><br><br>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a><br>
                            <button type="button" class="cancel"> Cancel Request</button>
                        </div>
                        <div class="date">
                            <p><b>{{ meetup.date|date('F j, Y') }} at {{ meetup.time|date('g:ia') }}</b></p>
                        </div>
                    </div>
                {% else %}
                    <p>No past meetups yet. Go schedule one!</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No past meetups yet. Go schedule one!</p>
        {% endif %}

    </div>

    <div id="PendingRequests" class="tabcontent">
        <a href="">
            <button class="newMeetupButton">Create meetup</button>
        </a>

        {% if meetups %}
            {% for meetup in meetups %}
                {% if meetup.state == 2 %}
                    <div class="profile">
                        <img id="profile_picture" src="{{ asset('images/Profile.png') }}" alt="Profile picture">
                        <div class="person">
                            <h2>{{ meetup.person1.firstName }}</h2>
                            <a href="#library page" class="Library">Location: {{ meetup.library.name }}</a><br><br>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a><br>
                            <button type="button" class="cancel"> Cancel Request</button>
                        </div>
                        <div class="date">
                            <p><b>{{ meetup.date|date('F j, Y') }} at {{ meetup.time|date('g:ia') }}</b></p>
                        </div>
                    </div>
                {% else %}
                    <p>No meetups yet. Go schedule one!</p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No pending requests. Go schedule one!</p>
        {% endif %}

    </div>

    <script>document.getElementById("defaultOpen").click();</script>

{% endblock %}
