{% extends 'home/index.html.twig' %}

{% block title %}Meetup{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/meetup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block main %}

    <h1>Meetups</h1>

    <div class="tab">
        <button class="tablinks" onclick="openMeetups(event, 'UpcomingMeetups')" id="defaultOpen">Upcoming meetups</button>
        <button class="tablinks" onclick="openMeetups(event, 'PastMeetups')">Past meetups</button>
        <button class="tablinks" onclick="openMeetups(event, 'PendingRequests')">Pending requests</button>
    </div>

    <div id="UpcomingMeetups" class="tabcontent">
        <div class="profile">
            <img id="profile_picture" src="{{ asset('images/Profile.png') }}" alt="Profile picture">
            <div class="person">
                <h2>John Doe</h2>
                <a href="#library page" class="Library">Bib Tweebronnen</a><br><br>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a><br>
                <button type="button" class="cancel"> Cancel meetup</button>
            </div>
            <div class="date">
                <p><b>Meetup time</b></p>
            </div>
        </div>
    </div>

    <div id="PastMeetups" class="tabcontent">
        <div class="profile">
            <img id="profile_picture" src="{{ asset('images/Profile.png') }}" alt="Profile picture">
            <div class="person">
                <h2>John Doe</h2>
                <a href="#library page" class="Library">Bib Tweebronnen</a><br><br>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a><br>
                <button type="button" class="request"> Request new meetup</button>
            </div>
            <div class="date">
                <p><b>Meetup time</b></p>
            </div>
        </div>
    </div>

    <div id="PendingRequests" class="tabcontent">
        <div class="profile">
            <img id="profile_picture" src="{{ asset('images/Profile.png') }}" alt="Profile picture">
            <div class="person">
                <h2>John Doe</h2>
                <a href="#library page" class="Library">Bib Tweebronnen</a><br><br>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a><br>
                <button type="button" class="cancel"> Cancel Request</button>
            </div>
            <div class="date">
                <p><b>Date request send</b></p>
            </div>
        </div>
    </div>

    <script>
        function openMeetups(evt, meetups) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(meetups).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="UpcomingMeetups" and click on it
        // Doesn't work?
        document.getElementById("defaultOpen").click();
    </script>

{% endblock %}
