<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Book Binder" />
        <title>{% block title %}Book Binder{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/home.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <header class="flex-container">
        <a href="{{ path('app_home') }}">
            <div id="logo">
                <img src="{{ asset('images/logo.jpg') }}" width = "80" alt="db layout"/>
            </div>
        </a>
        <a href="{{ path('app_home') }}">
            <div>
                <h1 id="title">Book Binder</h1>
                <h2 id="subtitle">Meet book lovers</h2>
            </div>
        </a>



        <nav>
            <ul style="list-style-type:none" id="hypertext" class="flex-container">
                <li class="element"><a href="{{ path('app_home') }}">Home</a></li>
                <li class="element"><a href="">Favorite</a></li>
                <li class="element"><a href="">Meetup</a></li>
                <li class="element" id="profile_icon">
                    <a href="#">
                        <img id="profile_img" onclick="toggleMenu()" class="dropbtn" src="{{ asset('images/profile_icon.png') }}" alt="db layout">
                    </a>
                    <div class="dropdown">
                        <div id="myDropdown" class="dropdown-content">
                            <a class="menu" href="">Profile Settings</a>
                            <a class="menu" href="">Notification</a>
                            <a class="menu" href="{{ path('app_logout') }}">Log out</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

    </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div class="footer-container">
                <img src="{{ asset('images/logo.jpg') }}" width = "20" alt="db layout"/>

                <p>Copyright &copy; 2022 BookBinder.
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
                </p>
            </div>
        </footer>
    </body>
</html>
