{% extends 'base.html.twig' %}


{% block title %}BookBinder_Profile{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_profile.css') }}">
{% endblock %}


{% block main %}


    <section id="upper_main">
        <div class="picture">
            {% if profilePictureFilename %}
                <img src="{{ asset('uploads/profilepics/' ~ profilePictureFilename) }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <img src="{{ asset('images/profile.png') }}" alt="Profile Picture" class="profile-picture">
            {% endif %}
            <h1 class="user-name">{{ firstname ~ " " ~ lastname }}</h1>

        </div>

        <div class="profile-details">
            <div class="personal-info">
                <h1 class="user-name">{{ firstname ~ " " ~ lastname }}</h1>
                <p class="info-label">Email:</p>
                <p class="info-value">{{ email }}</p>
                <p class="info-label">Address:</p>
                <p class="info-value">{{ address }}</p>
                <p class="info-label">Birthday:</p>
                <p class="info-value">{{ birthday }}</p>
            </div>
            <div class="Description">
                <h1 id="description">Description:</h1>
                <p>
                    Hey there! I'm Jane, a book lover extraordinaire and an enthusiastic
                    user of the Book Binder app. With a passion for literature that knows
                    no bounds, I find joy in immersing myself in captivating stories and exploring diverse genres.
                </p>
            </div>
        </div>

    </section>

    <div class="section-heading">
        <h2>Favorite Books</h2>
        <div class="divider"></div>
    </div>

    <div id="output">

    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function() {
            document.getElementById('output').innerHTML = "";
            fetch("https://www.googleapis.com/books/v1/volumes?q=" + "Great Gatsby" + "&maxResults=20")
                .then(response => response.json())
                .then(data => {
                    for (var i = 0; i <20; i += 4) {
                        const book1 = data.items[i].volumeInfo;
                        const book2 = data.items[i + 1].volumeInfo;
                        const book3 = data.items[i + 2].volumeInfo;
                        const book4 = data.items[i + 3].volumeInfo;

                        const title1 = book1.title;
                        const author1 = book1.authors ? book1.authors[0] : "Unknown";
                        const isbn1 = book1.industryIdentifiers ? book1.industryIdentifiers[0].identifier : "Not available";
                        const imageLinks1 = book1.imageLinks ? book1.imageLinks.thumbnail : "no-image-available.jpg"; // Default image if no thumbnail available

                        const title2 = book2.title;
                        const author2 = book2.authors ? book2.authors[0] : "Unknown";
                        const isbn2 = book2.industryIdentifiers ? book2.industryIdentifiers[0].identifier : "Not available";
                        const imageLinks2 = book2.imageLinks ? book2.imageLinks.thumbnail : "no-image-available.jpg"; // Default image if no thumbnail available

                        const title3 = book3.title;
                        const author3 = book3.authors ? book3.authors[0] : "Unknown";
                        const isbn3 = book3.industryIdentifiers ? book3.industryIdentifiers[0].identifier : "Not available";
                        const imageLinks3 = book3.imageLinks ? book3.imageLinks.thumbnail : "no-image-available.jpg"; // Default image if no thumbnail available

                        const title4 = book4.title;
                        const author4 = book4.authors ? book4.authors[0] : "Unknown";
                        const isbn4 = book4.industryIdentifiers ? book4.industryIdentifiers[0].identifier : "Not available";
                        const imageLinks4 = book4.imageLinks ? book4.imageLinks.thumbnail : "no-image-available.jpg"; // Default image if no thumbnail available

                        var booksHTML = `
                    <div class="row">
                    <div class="grid-container">
                        <section class="book_container">
                            <div class="book" style="display: flex; width: 50%; margin-bottom: 20px;">
                            <a href="/book_profile/${encodeURIComponent(title1)}/${isbn1}">
                                <div class="book-image" style="flex: 0 0 30%;">
                                    <img src="${imageLinks1}" alt="Book Cover" style="width: 100%; height: 100%; object-fit: contain;">
                                </div>
                            </a>
                            <div class="book-info" style="flex: 1;">
                                <a href="/book_profile/${encodeURIComponent(title1)}/${isbn1}">
                                <h3>${title1}</h3>
                                </a>
                                <p>${author1}</p>
                            </div>
                        </div>
                        </section>

                        <section class="book_container">
                            <div class="book" style="display: flex; width: 50%; margin-bottom: 20px;">
                                <a href="/book_profile/${encodeURIComponent(title2)}/${isbn2}">
                                <div class="book-image" style="flex: 0 0 30%;">
                                    <img src="${imageLinks2}" alt="Book Cover" style="width: 100%; height: 100%; object-fit: contain;">
                                </div>
                                </a>
                                <div class="book-info" style="flex: 1;">
                                    <a href="/book_profile/${encodeURIComponent(title2)}/${isbn2}">
                                    <h3>${title2}</h3>
                                    </a>
                                    <p>${author2}</p>
                                </div>
                            </div>
                        </section>

                        <section class="book_container">
                            <div class="book" style="display: flex; width: 50%; margin-bottom: 20px;">
                                <a href="/book_profile/${encodeURIComponent(title3)}/${isbn3}">
                                    <div class="book-image" style="flex: 0 0 30%;">
                                        <img src="${imageLinks3}" alt="Book Cover" style="width: 100%; height: 100%; object-fit: contain;">
                                    </div>
                                </a>
                                <div class="book-info" style="flex: 1;">
                                    <a href="/book_profile/${encodeURIComponent(title3)}/${isbn3}">
                                        <h3>${title3}</h3>
                                    </a>
                                    <p>${author3}</p>
                                </div>
                            </div>
                        </section>

                        <section class="book_container">
                            <div class="book" style="display: flex; width: 50%; margin-bottom: 20px;">
                                <a href="/book_profile/${encodeURIComponent(title4)}/${isbn4}">
                                    <div class="book-image" style="flex: 0 0 30%;">
                                        <img src="${imageLinks4}" alt="Book Cover" style="width: 100%; height: 100%; object-fit: contain;">
                                    </div>
                                </a>
                                <div class="book-info" style="flex: 1;">
                                    <a href="/book_profile/${encodeURIComponent(title4)}/${isbn4}">
                                        <h3>${title4}</h3>
                                    </a>
                                    <p>${author4}</p>
                                </div>
                            </div>
                        </section>

                    </div>
                    </div>
                `;


                        document.getElementById("output").innerHTML += booksHTML;
                    }
                });
        });


    </script>

{% endblock %}